<%= form_with(model: admin_subject, local: true) do |form| %>
  <% if admin_subject.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(admin_subject.errors.count, "error") %> prohibited this admin_subject from being saved:</h3>

      <ul>
      <% admin_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
