<h2 class="visually-hidden"> <%= title "#{@employee.display_name.titlecase}" %> </h2>

<% employee_keywords = [
  @employee.first_name, 
  @employee.last_name, 
  @employee.middle_name, 
  @employee.name,
  @employee.display_name, 
  @employee.email, 
  @employee.job_title, 
  @employee.university_classification
] %>


<div class="employee-card">

    <div class="profile-banner">
      <img src="<%= @employee.image %>" alt="Picture of <%= @employee.display_name %>"/>
    </div>

    <div class="profile-text">
      <div class="name-title wvu-h4" id="profile_name"> 
        <%= @employee.display_name %> 
      </div>

      <div class="job-title">
        <% unless @employee.job_title.nil? || @employee.job_title.empty? %>
          <div class="micro"> <%= @employee.job_title %> </div>
        <% end %>
        <% unless @employee.university_classification.nil? || @employee.university_classification.empty? %>
           <div class="micro">  <%= @employee.university_classification %>  </div> 
        <% end %>
      </div>

      <% if @employee.description.present? %>
      <div class="description">
        <p> <%= @employee.description %> </p>
      </div>
      <% end %>

      <h4> Department(s) </h4>
      <div class="departments">
        <% @employee.departments.each do |dept| %>
           <%= dept.name %>
          <span class="micro"> (<%= dept.building_name %>) </span> <br/>
          <% employee_keywords << dept.name %>
          <% employee_keywords << dept.building.name %>
        <% end %>
      </div>

      <h4> Contact </h4>
      <div class="contact">
        <% if @employee.addresses.present? %>
        <div class="addresses">  
          <% @employee.addresses.each do |address| %>
            <div class="address-item">
              <span class="fas fa-address-card"></span>
              <%= address.human_readable %>
            </div>
          <% end %>
        </div>
        <% end %>

        <% if @employee.phones.present? %>
        <div class="phones">  
          <% @employee.phones.each do |phone| %>
            <div class="phone-item">
              <span class="<%= phone_icon_class(phone) %>"></span>
              <a class="wvu-profiles-index__phone" href="tel:<%= phone.number %>"><%= phone.number %></a>
              <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
            </div>
          <% end %>
        </div>
        <% end %>

        <div class="email">
          <span class="fas fa-envelope"></span>
          <a href="mailto:<%= @employee.email %>">
            <%= @employee.email %>
          </a>
        </div>
      </div>

      <% if @employee.subjects.present? %>
      <h4> Subjects </h4>
      <ul class="subject-tags"> 
        <% @employee.subjects.sort.each do |subject| %>
          <li> <%= subject.name %> </li>
        <% end %>
      </ul>
      <% end %>

      <% if @employee.resume.present? %>
          <div>
            <h4>Resume/CV:</h4>
            <%= link_to(File.basename(@employee.resume.path), @employee.resume.url) %>
          </div>
      <% end %>  
    </div>

  </div>


<% keywords employee_keywords.join(',') %>
<% description "#{@employee.display_name}, #{@employee.job_title}, #{@employee.university_classification}.  #{@employee.description} "%>