<% @buildings.each do |building| %>
<% departments = building.departments.sort %>
  <h2> <%= building.name %> </h2>
  
  <% departments.each do |department| %>
    <h3> <%= department.name %> </h3>
    <% department.service_points.each do |sp| %>
      <div class="servicepoint"> 
        <%= sp.name %>
        <% sp.phones.each do |phone| %>
          <%= phone.number %>
        <% end %>
      </div>
    <% end%>

    <% department.employees.each do |employee| %> 
      <div class="employee"> 
        <%= employee.name %>
        <% employee.phones.each do |phone| %>
          <%= phone.number %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>