<%= form_for [:admin, department], html: { multipart: true } do |f| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(department.errors.count, "Error") %> </h3> 
      <p> The following prohibited this department from being saved: </p>
      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building_id, "Building" %>
    <div class="select-style">
      <%= f.collection_select :building_id, Building.all, :id, :name, { prompt: 'Building for Department' } %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel', admin_departments_path, class: 'cancel-button' %>
    <%= f.submit 'Submit', class: 'submit-button' %>
  </div>
<% end %>