<div class="top-action">
  <h2> Manage Departments </h2>
  <%= link_to 'New Department', new_admin_department_path, { class: 'new-button' } %>
</div>

<% @departments.each do |dept| %>
  <div class="crud-list department-list">
    <div class="text-attributes">
      <ul>
        <li> 
          <strong> Name: </strong> 
          <%= dept.name %>
        </li>

        <li> 
          <strong> Description: </strong> 
          <%= dept.description %>
        </li>

        <li>
          <strong> Building: </strong>
          <%= dept.building.name %>
        </li>

        <% if dept.phones.length %>
        <li>
          <strong> Department Phone Numbers: </strong>
          <ul class="phone">
            <% dept.phones.each do |phone| %>
            <li>
              <strong> <%= phone.number_types.capitalize %>:  </strong>
              <a href="tel:<%= phone.number %>">
                <%= phone.number %> 
              </a> 
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>

        <% if dept.service_points.present? %>
        <li> 
          <% dept.service_points.each do |sp| %>
              <div class="name">
                <strong> <%= sp.name %>  </strong> 
              </div>
              <%  sp.phones.each do |phone| %>
                <div class="phone">
                  <strong> <%= phone.number_types.capitalize %>:  </strong>
                  <a href="tel:<%= phone.number %>">
                    <%= phone.number %> 
                  </a> 
                </div>
              <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="crud-actions"> 
      <%= link_to 'New Service Point', '/admin/service_points/new', class: 'new-button' %>
      <%= link_to 'Show', admin_department_path(dept), { class: 'show-button' } %>
      <%= link_to 'Edit', edit_admin_department_path(dept), { class: 'edit-button' } %>
      <%= link_to 'Destroy', admin_department_path(dept), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New Department', new_admin_department_path, { class: 'new-button' } %>
</div>
