<h2> <%= @department.name %> </h2>

<div class="description">
  <strong> Description: </strong> 
  <%= @department.description %>
</div>

<% if @department.service_points.present? && !@department.service_points.nil? %>
  <% @department.service_points.each do |sp| %>
  <div class="service-points">
    <strong> Service Point(s): </strong>
      <ul>
        <li> 
          <strong> Name : </strong> <%= sp.name %>
           <% sp.phones.each do |phone| %>
          <ul class="phone-item">
              <li>
                <%= phone.number %>
                <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
  </div>
  <% end %>
<% end %>

<div class="show-action">
    <div class="actions"> 
      <%= link_to '<span class="fas fa-building"></span> Departments'.html_safe, '/admin/departments', { class: 'new-button' } %>
      <%= link_to '<span class="fas fa-edit"></span> Edit'.html_safe, edit_admin_department_path(@department), { class: 'edit-button' } %>
      <%= link_to '<span class="fas fa-trash"></span> Destroy'.html_safe, admin_department_path(@department), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>