<fieldset class="address">
  <legend> Address </legend>

  <div class="field full">
    <%= form.label :line1, "Street Address", class: 'required' %>
    <%= form.text_field :line1, placeholder:'124 Fake Street' %>
  </div>

  <div class="field full">
    <%= form.label :line2, "Additional Line (Optional)" %>
    <%= form.text_field :line2, placeholder:'Room 2020 Cube 1' %>
  </div>

  <div class="field third">
    <%= form.label :city, class: 'required' %>
    <%= form.text_field :city, placeholder: 'Great City Falls' %>
  </div>

  <div class="field third">
    <%= form.label :state, class: 'required' %>
    <div class="select-style">
      <%= form.select :state, options_for_select(us_states, selected: form.object.state), { include_blank: "Select a State" }, { class: "state-select" } %>
    </div>
  </div>

  <div class="field third">
    <%= form.label :zip, class: 'required' %>
    <%= form.text_field :zip, placeholder: '55555' %>
  </div>

  <div class="action">
    <%= form.hidden_field :_destroy %>
    <%# form.label :_destroy, "Delete Address" %>
    <%= link_to '<span class="fas fa-trash-alt"></span>'.html_safe , '#', class: "remove-fields delete-address", title: "Delete Address" %>
  </div>
</fieldset>