<fieldset class="phones-form">
  <legend> Phones </legend>

  <div class="field one-third">
    <%= form.label :number_types %>
    <div class="select-style">
      <%= form.select :number_types, options_for_select(Phone.number_types.keys, selected: form.object.number_types), include_blank: "Select a Type" %>
    </div>
  </div>

  <div class="field two-third last">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="action">
    <%= form.hidden_field :_destroy %>
    <%= link_to '<span class="fas fa-trash-alt"></span>'.html_safe, '#', class: "remove-fields", title: "Delete Phone" %>
  </div>
</fieldset>