<fieldset class="service-point">
  <legend> Service Point </legend>

  <div class="field full">
    <%= form.label :name, 'Service Point Name', class: 'required' %>
    <%= form.text_field :name %>
  </div>

   <!-- Phones -->
  <%= form.fields_for :phones do |form| %>
    <%= render "phone", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Phones", form, :phones %>

  <div class="action">
    <%= form.hidden_field :_destroy %>
    <%# form.label :_destroy, "Delete Service Point" %>
    <%= link_to '<span class="fas fa-trash-alt"></span>'.html_safe , '#', class: "remove-fields delete-service-point", title: "Delete Service Point" %>
  </div>
</fieldset>