<div class="top-action">
  <h2> Manage Employees </h2>
  <%= link_to 'New Employee', new_admin_employee_path, { class: 'new-button' } %>
</div>

<div class="search-filter">
  <label for="employee_filter"> Filter Employees </label>
  <input id="employee_filter" type="text" class="reset search-dom" placeholder="Employee Filters"/>

  <div class="micro-text"> 
    Note: Filter is meant to trim down the list of employees pretty quickly and only uses the first word as a match to a variety of keywords. <span class="warning"> It is not advised to use more than 1 word. </span>
  </div>
</div>

<% @employees.each do |employee| %>
  <div class="crud-list employee-list">
    
    <div class="hidden keywords">
      <%= employee.first_name %>
      <%= employee.last_name %>
      <%= employee.middle_name %>
      <%= employee.preferred_name %>
      <%= employee.status %>
      <%= employee.role %>
    </div>

    <div class="image">
      <img src="<%= employee.image %>" alt="employees profile image"/>
    </div>

    <div class="text-attributes">
      <ul>
        <li> 
          <strong> Name: </strong> 
          <%= employee.display_name %>
        </li>

        <li>
          <strong> Email: </strong>
          <%= employee.email %>
        </li>

        <li>
          <strong> Role: </strong>
          <%= employee.role.capitalize %>
        </li>

        <li>
          <strong> Status: </strong>
          <%= employee.status.capitalize %>
        </li>

      </ul>
    </div>

    <div class="crud-actions">
      <%= link_to raw('<span class="fas fa-user-alt"></span>View'), admin_employee_path(employee), { class: 'show-button' } %>
      <%= link_to raw('<span class="fa fa-user-edit"></span> Edit'), edit_admin_employee_path(employee), { class: 'edit-button' } %>
      <%= link_to raw('<span class="fas fa-user-tag"></span> Roles'), admin_employee_leadership_index_path(employee), { class: 'new-button' } %>
      <%= link_to raw('<span class="fas fa-user-times"></span> Delete'), admin_employee_path(employee), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New Employee', new_admin_employee_path, { class: 'new-button' } %>
</div>
