<div class="top-action">
  <h2> Manage Employees </h2>
  <%= link_to 'New Employee', new_admin_employee_path, { class: 'new-button' } %>
</div>

<% @employees.each do |employee| %>
  <div class="crud-list employee-list">
    <div class="image">
      <img src="<%= employee.image %>" alt="employees profile image"/>
    </div>

    <div class="text-attributes">
      <ul>
        <li> 
          <strong> Name: </strong> 
          <%= employee.display_name %>
        </li>

        <li>
          <strong> Email: </strong>
          <%= employee.email %>
        </li>

        <li>
          <strong> Role: </strong>
          <%= employee.role.capitalize %>
        </li>

        <li>
          <strong> Status: </strong>
          <%= employee.status.capitalize %>
        </li>

      </ul>
    </div>

    <div class="crud-actions">
      <%= link_to raw('<span class="fas fa-user-alt"></span>View'), admin_employee_path(employee), { class: 'show-button' } %>
      <%= link_to raw('<span class="fa fa-user-edit"></span> Edit'), edit_admin_employee_path(employee), { class: 'edit-button' } %>
      <%= link_to raw('<span class="fas fa-user-tag"></span> Roles'), admin_employee_leadership_index_path(employee), { class: 'new-button' } %>
      <%= link_to raw('<span class="fas fa-user-times"></span> Delete'), admin_employee_path(employee), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New Employee', new_admin_employee_path, { class: 'new-button' } %>
</div>
