<h2> Showing <%= @employee.display_name %> </h2>

<div class="show-action">
    <div class="image">
      <img src="<%= @employee.image %>" alt="employees profile image"/>
    </div>

        <div class="text-attributes">
      <ul>

        <% if @employee.prefix.present? %>
        <li>
          <strong> Prefix: </strong>
          <%= @employee.prefix %>
        </li>
        <% end %>

        <li>
          <strong> First Name: </strong>
          <%= @employee.first_name %>
        </li>

        <li>
          <strong> Middle Name: </strong>
          <%= @employee.middle_name %>
        </li>

        <li>
          <strong> Last Name: </strong>
          <%= @employee.last_name %>
        </li>

        <% if @employee.suffix.present? %>
        <li>
          <strong> Suffix: </strong>
          <%= @employee.suffix %>
        </li>
        <% end %>

        <li>
          <strong> Email: </strong>
          <%= @employee.email %>
        </li>

        <li>
          <strong> WVU Username: </strong>
          <%= @employee.wvu_username %>
        </li>

        <li>
          <strong> Unviersity Classification: </strong>
          <%= @employee.university_classification %>
        </li>

        <li>
          <strong> Job Title: </strong>
          <%= @employee.job_title %>
        </li>

        <li>
          <strong> Job Description: </strong>
          <%= @employee.description %>
        </li>
        
        <li>
          <strong> Role: </strong>
          <%= @employee.role.capitalize %>
        </li>
        
        <li>
          <strong> Status: </strong>
          <%= @employee.status.capitalize %>
        </li>

        <li> 
          <strong> Phone(s): </strong>
          <ul>
          <% @employee.phones.each do |phone| %>
            <li> 
              <a href="tel:<%= phone.number %>">
                <%= phone.number %> 
              </a> 
            </li>
          <% end %>
          </ul>
        </li>

        <li> 
          <strong> Address(es): </strong>
          <ul>
          <% @employee.addresses.each do |address| %>
            <li> <%= address.human_readable %> </li>
          <% end %>
          </ul>
        </li>

        <li> 
          <strong> Subject(s): </strong>
          <ul>
          <% @employee.subjects.each do |subject| %>
            <li> <%= subject.name %> </li>
          <% end %>
          </ul>
        </li>
      </ul>
      <div class="micro-text">
        Created at <%= @employee.created_at.strftime("%B %d, %Y at %I:%M%p") %> <br/> Updated at <%= @employee.updated_at.strftime("%B %d, %Y at %I:%M%p")%>
      </div>
    </div>

    <div class="actions"> 
      <%= link_to '<span class="fas fa-user"></span> Employees'.html_safe, '/admin/employees', { class: 'new-button' } %>
      <%= link_to '<span class="fas fa-edit"></span> Edit'.html_safe, edit_admin_employee_path(@employee), { class: 'edit-button' } %>
      <%= link_to '<span class="fas fa-trash"></span> Destroy'.html_safe, admin_employee_path(@employee), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>