<h2 class="hidden"> Showing <%= @employee.display_name %> </h2>

<div class="employee-card">

  <div class="profile-banner">
    <img src="<%= @employee.image %>" alt="Picture of <%= @employee.display_name %>"/>
  </div>

  <div class="profile-text">
    <div class="name-title wvu-h4" id="profile_name"> 
        <%= @employee.display_name %> 
    </div>

    <div class="job-title">
      <% unless @employee.job_title.nil? || @employee.job_title.empty? %>
        <div class="micro"> <%= @employee.job_title %> </div>
      <% end %>
      <% unless @employee.university_classification.nil? || @employee.university_classification.empty? %>
          <div class="micro">  <%= @employee.university_classification %>  </div> 
      <% end %>
    </div>

    <h4> Employee Details </h4>
    <div class="details">
      <% if @employee.prefix.present? %>
      <div>
        <strong> Prefix: </strong>
        <%= @employee.prefix %>
      </div>
      <% end %>

      <div>
        <strong> First Name: </strong>
        <%= @employee.first_name %>
      </div>

      <div>
        <strong> Middle Name: </strong>
        <%= @employee.middle_name %>
      </div>

      <div>
        <strong> Last Name: </strong>
        <%= @employee.last_name %>
      </div>

      <div>
        <strong> Preferred Name: </strong>
        <%= @employee.preferred_name %>
      </div>

      <% if @employee.suffix.present? %>
      <div>
        <strong> Suffix: </strong>
        <%= @employee.suffix %>
      </div>
      <% end %>

      <div>
        <strong> Email: </strong>
        <%= @employee.email %>
      </div>

      <div>
        <strong> WVU Username: </strong>
        <%= @employee.wvu_username %>
      </div>

      <div>
        <strong> Unviersity Classification: </strong>
        <%= @employee.university_classification %>
      </div>

      <div>
        <strong> Job Title: </strong>
        <%= @employee.job_title %>
      </div>

      <div>
        <strong> Job Description: </strong>
        <%= @employee.description %>
      </div>
      
      <div>
        <strong> Role: </strong>
        <%= @employee.role.capitalize %>
      </div>
      
      <div>
        <strong> Status: </strong>
        <%= @employee.status.capitalize %>
      </div>
    </div>

    <h4> Department(s) </h4>
    <div class="departments">
      <% @employee.departments.each do |dept| %>
        <%= dept.name %> - <%= dept.building.name %>
      <% end %>
    </div>

    <h4> Contact </h4>
    <div class="contact">
      <% if @employee.addresses.present? %>
      <div class="addresses">  
        <% @employee.addresses.each do |address| %>
          <div class="address-item">
            <span class="fas fa-address-card"></span>
            <%= address.human_readable %>
          </div>
        <% end %>
      </div>
      <% end %>

      <% if @employee.phones.present? %>
      <div class="phones">  
        <% @employee.phones.each do |phone| %>
          <div class="phone-item">
            <span class="<%= phone_icon_class(phone) %>"></span>
            <a class="wvu-profiles-index__phone" href="tel:<%= phone.number %>"><%= phone.number %></a>
            <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
          </div>
        <% end %>
      </div>
      <% end %>

      <div class="email">
        <span class="fas fa-envelope"></span>
        <a href="mailto:<%= @employee.email %>">
          <%= @employee.email %>
        </a>
      </div>
    </div>

    <% if @employee.subjects.present? %>
    <h4> Subjects </h4>
    <ul class="subject-tags"> 
      <% @employee.subjects.sort.each do |subject| %>
        <li> <%= subject.name %> </li>
      <% end %>
    </ul>
    <% end %>

    <div class="micro-text">
      Created at <%= @employee.created_at.strftime("%B %d, %Y at %I:%M%p") %> <br/> 
      Updated at <%= @employee.updated_at.strftime("%B %d, %Y at %I:%M%p")%>
    </div>

    <div class="actions"> 
      <%= link_to '<span class="fas fa-user"></span> Employees'.html_safe, '/admin/employees', { class: 'new-button' } %>
      <%= link_to '<span class="fas fa-edit"></span> Edit'.html_safe, edit_admin_employee_path(@employee), { class: 'edit-button' } %>
      <%= link_to '<span class="fas fa-trash"></span> Destroy'.html_safe, admin_employee_path(@employee), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
</div>