<% employees.each do |employee| %>
  <div class="employee-card">

    <div class="profile-banner">
      <img src="<%= employee.image %>" alt="Picture of <%= employee.display_name %>"/>
    </div>

    <div class="profile-text">
      <div class="name-title wvu-h4" id="profile_name"> 
        <a href="employee/<%= employee.id %>">
          <%= employee.display_name %> 
        </a>
      </div>

      <div class="job-title">
        <% unless employee.job_title.nil? || employee.job_title.empty? %>
          <div class="micro"> <%= employee.job_title %> </div>
        <% end %>
        <% unless employee.university_classification.nil? || employee.university_classification.empty? %>
           <div class="micro">  <%= employee.university_classification %>  </div> 
        <% end %>
      </div>

      <h4> Department(s) </h4>
      <div class="departments">
        <% employee.departments.each do |dept| %>
          <%= dept.name %>
          <span class="micro"> (<%= dept.building_name %>) </span>
        <% end %>
      </div>

      <h4> Contact </h4>
      <div class="contact">
        <% if employee.addresses.present? %>
        <div class="addresses">  
          <% employee.addresses.each do |addrress| %>
            <div class="address-item">
              <span class="fas fa-address-card"></span>
              <%= address.human_readable %>
            </div>
          <% end %>
        </div>
        <% end %>
        
        <div class="phones">  
          <% employee.phones.each do |phone| %>
            <div class="phone-item">
              <span class="<%= phone_icon_class(phone) %>"></span>
              <a class="wvu-profiles-index__phone" href="tel:<%= phone.number %>"><%= phone.number %></a>
              <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
            </div>
          <% end %>
        </div>

        <div class="email">
          <span class="fas fa-envelope"></span>
          <a href="mailto:<%= employee.email %>">
            <%= employee.email %>
          </a>
        </div>

        <div class="profile-link">
          <a href="/employee/<%= employee.id %>" class="button" aria-labelledby="profile_name"> View Profile </a>
        </div>
      </div>
    </div>

  </div>
<% end %>