<% content_for :title, "#{@building.name.titlecase} Detailed Information" %>

<div class="building"> 
  <h2> <%= @building.name %> </h2>

  <div class="row">
    <div class="side-panel">
      <img src="<%= @building.image %>" alt="@buildings profile image"/>
    </div>

    <div class="main-panel">
      <h3> Addresses </h3>
      <div class="addresses">
        <% @building.addresses.each do |address| %>
          <p> <%= address.human_readable %> </p>
        <% end %>
      </div>

      <h3> Phones </h3>
      <div class="phones">
      <% @building.phones.each do |phone| %>
        <div class="phone-item">
          <span class="<%= phone_icon_class(phone) %>"></span>
          <a class="wvu-profiles-index__phone" href="tel:<%= phone.number %>"><%= phone.number %></a>
          <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
        </div>
      <% end %>
      </div>

      <h3> Departments </h3>
      <ul class="department-tags">
      <% @building.departments.each do |dept| %>
        <li> <%= dept.name %> 
          <% unless dept.description.nil? %>
          <span class="micro"> <%= dept.description %> </span>
          <% end %>
        </li>
      <% end %>
      </ul>
      
      <h3> Directions </h3>
      <div class="map-link">
        <a href="<%= @building.map_link %>" target="_blank"> Google Map </a>
      </div>

      <% unless @building.directions.blank? %>
        <div class="directions">
          <%= raw @building.directions %>
        </div>
      <% end %>

      <h3>Floor Maps</h3>
      <div class="floor-maps">
        <% @building.floors.each do |floor| %>
          <div>
            <img src="<%= floor.image %>" alt="<%= floor.name%> Map Image"/>
          </div>
        <% end %>
      </div>
  </div>
</div>

