<h2> Library Buildings </h2>

<% @buildings.each do |building| %> 

  <div class="display-list">
    <div class="image">
      <img src="<%= building.image %>" alt="buildings profile image"/>
    </div>

    <div class="text-attributes building-card">
      <h3 id="building_name"> <%= building.name %> </h3>

      <h4> Address </h4>
      <div class="addresses">
       <% building.addresses.each do |address| %>
            <div> <%= address.human_readable %> </div>
          <% end %>
      </div>

      <h4> Phones </h4>
      <div class="phones">
        <% building.phones.each do |phone| %>
          <div class="phone-item">
            <span class="<%= phone_icon_class(phone) %>"></span>
            <a class="wvu-profiles-index__phone" href="tel:<%= phone.number %>"><%= phone.number %></a>
            <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
          </div>
        <% end %>
      </div>
      
      <div class="buttons"> 
        <a href="/buildings/<%= building.id %>/employees" class="button" aria-labelledby="building_name"> Building Employees </a>
        <a href="/buildings/<%= building.id %>" class="button" aria-labelledby="building_name">  Building Details </a>
         <a href="<%= building.map_link %>" class="button" aria-labelledby="building_name" target="_blank"> Google Map </a>
      </div>
    </div>
  </div>
<% end %>
