<div class="top-action">
  <h2> Manage Buildings </h2>
  <%= link_to 'New building', new_admin_building_path, { class: 'new-button' } %>
</div>

<% @buildings.each do |building| %> 

  <div class="crud-list building-list">
    <div class="image">
      <img src="<%= building.image %>" alt="buildings profile image"/>
    </div>

    <div class="text-attributes">
      <ul>
        <li> 
          <strong> Name: </strong> 
          <%= building.name %>
        </li>
        <li>  
          <strong> Map Link: </strong> 
          <a href="<%= building.map_link %>"> Google Maps </a>
        </li>
        <li> 
          <strong> Address(es): </strong>
          <ul>
          <% building.addresses.each do |address| %>
            <li> <%= address.human_readable %> </li>
          <% end %>
          </ul>
        </li>
        <li> 
          <strong> Phone(s): </strong>
          <ul>
          <% building.phones.each do |phone| %>
            <li> 
              <strong> <%= phone.number_types.capitalize %> </strong>
              <a href="tel:<%= phone.number %>">
                 <%= phone.number %> 
              </a> 
            </li>
          <% end %>
          </ul>
        </li>

        <li> 
          <strong> Department(s): </strong>
          <%= building.departments.count %>
          <ul>
          <% building.departments.each do |dept| %>
            <li> <%= dept.name %> </li>
          <% end %>
          </ul>
        </li>

        <li> 
          <strong> Floor(s): </strong>
          <ul>
          <% building.floors.each do |floor| %>
            <li> <%= floor.name %> </li>
          <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div class="crud-actions"> 
      <%= link_to 'Show', admin_building_path(building), { class: 'show-button' } %>
      <%= link_to 'Edit', edit_admin_building_path(building), { class: 'edit-button' } %>
      <%= link_to 'Destroy', admin_building_path(building), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New building', new_admin_building_path, { class: 'new-button' } %>
</div>
