<%= form_for [:admin, service], html: { multipart: true } do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(service.errors.count, "Error") %> </h3> 
      <p> The following prohibited this service from being saved: </p>
      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department_id, "Department" %>
    <div class="select-style">
      <%= f.grouped_collection_select :department_id, Building.all, :departments, :name, :id, :name, { prompt: 'Department for Service Point' } %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <!-- Phones -->
  <%= f.fields_for :phones do |form| %>
    <%= render "phone", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Phones", f, :phones %>

  <div class="actions">
    <%= link_to 'Cancel', admin_service_points_path, class: 'cancel-button' %>
    <%= f.submit 'Submit', class: 'submit-button' %>
  </div>
<% end %>