<!DOCTYPE html>
<!-- nagios check -->
<html>
  
<head>
  <title> <%= yield :title %> :: ADMIN SECTION </title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <!-- BoilderPlate HTML Stuff -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Favicon Stuff -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00457c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <%= yield :head %>
</head>

<body>
  <!-- Skip to Navigation --> 
  <a class="wvu-skip-nav" href="#main">Skip to main content</a>
  
  <!-- Header --> 
  <header class="wvu-masthead">
    <div class="wvu-masthead__container"> 
      <a class="wvu-masthead__logo header-logo" href="/">
        <span class="wvu-masthead__title"> Library Directory </span>
      </a>
      <div class="button-container">  
        <%= link_to "Public", "/", :class=>"button button--pms-629-c" %>
        <%= link_to "Logout", "/logout", :class=>"button button--wvu-gold" %>
      </div> 
    </div> 
  </header>

  <!-- Main -->
  <main id="main" class="backend">
    <div class="wvu-container"> 
      <!-- Flash -->
      <%= render "utilities/alerts" %>

      <!-- Admin Menu -->
      <menu id="menu">
        <ul>
          <li> <h2> Facilities </h2> </li>
          <li><a href="/admin/buildings"> Buildings </a></li>
          <li><a href="/admin/departments"> Departments </a></li>
          <li><a href="/admin/service_points"> Service Points </a></li>
          <li><a href="/admin/floors"> Floors </a></li>
          <li> <h2> Personnel </h2> </li>
          <li><a href="/admin/employees"> Employees </a></li>
          <li><a href="/admin/subjects"> Subjects </a></li>
        </ul>
      </Menu>

      <!-- Yield -->
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </main>

  <!-- Footers -->
  <%= render 'shared/built_by_footer'%>

  <!-- JavaScripts -->
  <%= yield :js %>
</body>
</html>
