<!DOCTYPE html>
<html>
  <head>
    <title>Library Directory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Flash Messages / Alerts -->
    <% flash.each do |key, value| %>
      <div class="alert <%= key %>">
        <div class="content"> <%= value %> </div>
        <span class="exit-alert"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
